@model OrderManagement.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Invoice";
}

<div class="row mb-2">
    <div class="col-md-12 text-center">
        <h2>Invoice</h2>
    </div>
</div>
<div class="text-right mb-3">
    <button class="btn btn-primary" id="printButton" onclick="window.print()">Print Invoice</button>
</div>

<table class="table table-bordered">
    <tr>
        <th>Name:</th>
        <td>@Model.Customer.Name</td>
    </tr>
    <tr>
        <th>Phone:</th>
        <td>@Model.Customer.Phone</td>
    </tr>
    <tr>
        <th>Address:</th>
        <td>@Model.Customer.Address</td>
    </tr>
</table>

<hr />

<h2>Order Details</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
         @{
           
            int totalQuantitySum = 0;
            decimal totalValueSum = 0m;
        }
        @foreach (var item in Model.Order.OrderItems)
        {
            totalQuantitySum += item.Quantity;
            totalValueSum += item.TotalPrice;

            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>@item.TotalPrice.ToString("C")</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>@totalQuantitySum</strong></td>
            <td></td>
            <td><strong>@totalValueSum.ToString("C")</strong></td>
        </tr>
    </tbody>
</table>


